@import url("@fontsource/poppins");

$containerPadding: 32px 56px;
$containerMargin: 64px 44px 64px 124px;

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Poppins";
}

.print {
  display: none;
}

@media print {
  .dontPrint {
    display: none;
  }

  .print {
    display: block;
  }
}
