.main_container {
  margin: 10px 10px 10px 260px;
  padding: 24px;
  border-radius: 5px;
  transition: 0.1s ease;
}

.main_container_collapse {
  margin: 10px 10px 10px 60px;
  padding: 24px;
  border-radius: 5px;
}
