.marquee {
  height: 60px;
  overflow: hidden;
  position: relative;
  color: #333;
  width: 100vw;
}

.marquee p {
  font-size: 36px;
  color: white;
  white-space: nowrap;

  -moz-transform: translateX(200%);
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 20s linear infinite;
}

@media only screen and (max-width: 1280px) {
  .marquee p {
    font-size: 20px;
  }
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
